<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite 01" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="utility.TestListener" />
	</listeners>
	<test name="Login Test Functionality">

		<parameter name="browser" value="chrome" />
		<classes>
			<class name="tests.LoginTest" />
			<!--	<class name="tests.TestCheck" /> -->

		</classes>
	</test>
</suite>
